<div class="trello_action", id=<%=action.id%> >
<table style="width:80%">
<tr>
	<th>board</th>
	<th>list</th>
	<th>card</th>
</tr>
<tr>
	<td> <%=action.value.board%> </td>
	<td> <%=action.value.list%> </td>
	<td> <%=action.value.card_name%> </td>
</tr>
</table>
<div> <%=action.value.date%> </div>
<div> <%=action.value.text%> </div>
</div>