<div class="table-responsive", id=<%=action.id%> >
<table class="table table-bordered table-hover">
<tr>
    <th>id</th>
	<th>date</th>
	<th>board</th>
	<th>list</th>
	<th>card</th>
</tr>
<tr>
	<td> <%=action._id%> </td>
	<td> <%=action.date%> </td>
	<td> <%=action.content.data.board.name%> </td>
	<td> alma </td>
	<td> <%=action.content.data.card.name%> </td>
</tr>
<tr>
	<td colspan="5"> <%=action.content.text%> </td>
</tr>
</table>
</div>