<div class="table-responsive", id=<%=action.id%> >
<table class="table table-bordered table-hover">
<tr>
    <th>id</th>
	<th>date</th>
	<th>board</th>
	<th>list</th>
	<th>card</th>
</tr>
<tr>
	<td> <%=action.id%> </td>
	<td> <%=action.value.date%> </td>
	<td> <%=action.value.board%> </td>
	<td> <%=action.value.list%> </td>
	<td> <%=action.value.card_name%> </td>
</tr>
<tr>
	<td colspan="5"> <%=action.value.text%> </td>
</tr>
</table>
</div>